# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# 
venv
node_modules
site

# OBSIDIAN
docs/.obsidian

# OBSIDIAN UDS
docs/UD00/_PENDENT
docs/UD00/_TODO.md
docs/UD01/_PENDENT
docs/UD01/_TODO.md
docs/UD02/_PENDENT
docs/UD02/_TODO.md
docs/UD03/_PENDENT
docs/UD03/_TODO.md
docs/UD04/_PENDENT
docs/UD04/_TODO.md
docs/UD05/_PENDENT
docs/UD05/_TODO.md
docs/UD06/_PENDENT
docs/UD06/_TODO.md


